<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

<div th:fragment="welcome">
	<div title="欢迎使用" style="padding:20px;overflow:hidden;">
		<p style="font-size: 25px; line-height: 30px; height: 30px;">学生考勤系统</p>
		<p>作者：17990425-韦祖杰-电信</p>
	</div>
</div>
</body>
</html>
