<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizujie.attendance.mapper.AttendanceMapper">

    <resultMap type="com.weizujie.attendance.entity.Attendance" id="AttendanceInfo">
        <result column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="student_id" property="studentId"/>
        <result column="type" property="type"/>
        <result column="date" property="date"/>
    </resultMap>

    <select id="queryList" resultMap="AttendanceInfo">
        SELECT *
        from s_attendance
        where is_deleted = 0
        <if test="courseid != null">
            and course_id = #{courseid}
        </if>
        <if test="studentid != null">
            and student_id = #{studentid}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="date != null">
            and date = #{date}
        </if>
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int">
        select count(*) from s_attendance
        <where>
            <if test="courseid!=null">and course_id = #{courseid}</if>
            <if test="studentid!=null">and student_id = #{studentid}</if>
            <if test="type!=null">and type = #{type}</if>
            <if test="date!=null">and date = #{date}</if>
        </where>
    </select>

    <update id="reissue">
        update s_attendance set type = '补签' where id = #{attendanceId}
    </update>
</mapper>