<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizujie.attendance.mapper.TeacherMapper">

    <resultMap type="com.weizujie.attendance.entity.Teacher" id="TeacherInfo">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="clazz_id" property="clazzId"/>
        <result column="sex" property="sex"/>
        <result column="mobile" property="mobile"/>
    </resultMap>

    <select id="queryList" resultMap="TeacherInfo">
        SELECT *
        from s_teacher
        <where>
            <if test="username != null">
            and username LIKE concat("%",#{username},"%")
            </if>
            <if test="clazzid != null">
            and clazz_id LIKE concat("%",#{clazzid},"%")
            </if>
            <if test="teacherId != null">
            and id = #{teacherId}
            </if>
        </where>
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int">
        select count(*) from s_teacher
        <where>
            <if test="username!=null">and username LIKE concat("%",#{username},"%")</if>
            <if test="clazzid!=null">and clazz_id LIKE concat("%",#{clazzid},"%")</if>
            <if test="teacherid!=null">and id = #{teacherid}</if>
        </where>
    </select>


    <update id="editTeacher" parameterType="com.weizujie.attendance.entity.Teacher">
        update s_teacher
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
        </set>
        where id = #{id}

    </update>
</mapper>